/* DEBUG */
[class^="col"]{
  border: 1px solid black;
}


/* GENERAL */



/* HEADER */
header{
  height: 80px;
}

header .logo{
  width: 100%;
  padding: 10px 0;
}

header .logo-small{
  width: 100%;
  max-height: 50px;
}

#search-bar{
  background-color: #e5e5e5;
}

/* MAIN */
main{
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
}

/* NAVBAR LEFT */
.ps-navbar{
  display: inline-block;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: #071f35;
}