/* DEBUG */
/* [class^="col"]{
  border: 1px solid black;
} */


/* GENERAL */



/* HEADER */
header{
  height: 80px;
}

header .logo{
  width: 100%;
  padding: 10px 0;
}

header .logo-small{
  width: 100%;
  max-height: 50px;
}

#search-bar{
  background-color: transparent;
}

.search-group{
  background-color: #e5e5e5;
  border-radius: 10px;
}

.md-color{
  color: #ff8f00;
}
/* MAIN */
main{
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
}

/* NAVBAR LEFT */
.ps-navbar{
  display: inline-block;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: #071f35;
}

/* CONTENT */
#content{
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.md-badge{
  background-color: #165bba;
}
table img{
  width: 30px;
}
table tr .big-cells{
  width: 170px;
}

table tr .bigg-cells{
  width: 150px;
}

table tr .small-cells{
  width: 80px;
}

table tr .mid-cells{
  width: 140px;
}


.ps-badge{
  background-color: #178653;
}

.ps-badge.warning{
  background-color: #ffca2b;
}

.ps-badge.danger{
  background-color: #dc3545;
}